@font-face {
	font-family: "OpenSans";
	src: url(/fonts/OpenSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(/fonts/Inter-Regular.ttf) format("truetype");
	font-weight: 400;
}
