@font-face {
	font-family: "OpenSans";
	src: url(./assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-Regular.ttf) format("truetype");
	font-weight: 400;
}

$OpenSans: "OpenSans";
$Inter: "Inter";
